@model HabeckTurismo.Models.Cliente

@{
    ViewData["Title"] = "Create";
}

<div class="header-pags p-0 m-0">
    <figure>
        <img class="img-fluid" src="~/Assets/female_avatar.svg" alt="icon">
    </figure>
    <h2 class="text-center">Adicionar Cliente</h2>
    <figure>
        <img class="img-fluid" src="~/Assets/male_avatar.svg" alt="icon">
    </figure>
</div>
<hr class="p-0 m-0">
<div class="row p-5 justify-content-around font-weight-bolder">
    <div class="col-md-4 person p-3">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label">Nome</label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cpf" class="control-label">CPF</label>
                <input asp-for="cpf" class="form-control" />
                <span asp-validation-for="cpf" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="endereco" class="control-label">Endereço</label>
                <input asp-for="endereco" class="form-control" />
                <span asp-validation-for="endereco" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Adicionar" class="btn btn-primary" />
            </div>
        </form>
        <div>
            <a asp-action="Index" class="text-primary"><span class="material-icons">
                    reply
                </span>Voltar</a>
        </div>
    </div>
    <div class="col-md-4">
        <img class="img-fluid my-4" src="~/Assets/cliente.svg" alt="Clientes">
    </div>
</div>

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
