@model HabeckTurismo.Models.Destino

@{
    ViewData["Title"] = "Edit";
}

<div class="header-pags p-0 m-0">
    <figure>
        <img class="img-fluid" src="~/Assets/iconeHT.svg" alt="icon">
    </figure>
    <h2 class="text-center">Editar Destino</h2>
    <figure>
        <img class="img-fluid" src="~/Assets/iconeHT.svg" alt="icon">
    </figure>
</div>
<hr class="p-0 m-0">
<div class="row p-5 justify-content-around font-weight-bolder">
    <div class="col-md-4 person p-3">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Cidade" class="control-label">Cidade</label>
                <input asp-for="Cidade" class="form-control" />
                <span asp-validation-for="Cidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label">Estado</label>
                <input asp-for="Estado" class="form-control" />
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label">Descrição</label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrecoDiaria" class="control-label">Preço da Diária</label>
                <input asp-for="PrecoDiaria" class="form-control" />
                <span asp-validation-for="PrecoDiaria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Url" class="control-label">Link de uma imagem do Destino</label>
                <input asp-for="Url" class="form-control" />
                <span asp-validation-for="Url" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegiaoId" class="control-label">Região</label>
                <select asp-for="RegiaoId" class="form-control" asp-items="ViewBag.RegiaoId"></select>
                <span asp-validation-for="RegiaoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
        <div>
            <a asp-action="Index" class="text-primary"><span class="material-icons">
                    reply
                </span>Voltar</a>
        </div>
    </div>
    <div class="col-md-4">
        <img class="img-fluid my-4" src="~/Assets/destino.svg" alt="Avião">
    </div>
</div>


@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
